.DS_STORE
*/.idea/
*.iml

# frontend
frontend/.env
frontend/bower_components/
frontend/node_modules/
frontend/.pulp-cache/
frontend/output/
frontend/generated-docs/
frontend/.psc-package/
frontend/.psc*
frontend/.purs*
frontend/.psa*
frontend/bundle.js

# backend
backend/*.el
backend/client_session_key.aes
backend/dist*
backend/static/tmp/
backend/static/combined/
backend/config/client_session_key.aes
*.hi
*.o
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
backend/.hsenv*
backend/cabal-dev/
backend/.stack-work/
backend/yesod-devel/
backend/.cabal-sandbox
backend/cabal.sandbox.config
*.swp
*.keter
*~
\#*
backend/backend.cabal

# backend new
backend2/backend.cabal
backend2/.stack-work/
backend2/.cabal-sandbox
backend2/cabal.sandbox.config
